p{color:red; font-size: large;
font-weight: bold; }
p strong {font-weight: normal;}
ol{ text-align: center; }
span {background-color: rgb(249, 183, 126);}
/* select all html tags that have a class highlight_01 */
.highlight_01 {background-color: rgb(112, 244, 249);}
.highlight_02 {background-color: rgb(228, 252, 121);}
.highlight_03 {background-color: rgb(121, 252, 130);}

html {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;background-color: aquamarine;}
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
#tree-small {width: 300px;}
#tree-tiny {width: 100px;}
.test-div {background-color: antiquewhite; margin: 30px; padding: 40px;}
.my-flex{display: flex;}
