body {
    background: #ff1100;
    padding: 50px;
}
span {background-color: rgb(249, 183, 126);}
/* select all html tags that have a class highlight_01 */
.highlight_01 {background-color: rgb(112, 244, 249);}
.highlight_02 {background-color: rgb(228, 252, 121);}
.highlight_03 {background-color: rgb(121, 252, 130);}
h1,
h2,
h3 {
    color: #e4e894;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    width: 200px;
}
